// template/team.less

.team-owl-carousel {
}

.team-item {
	figure {
		.flex;
		.flex-ai( center );
		.flex-jc( center );
		.flex-basis( 60% );
		margin-top: 0;
		position: relative;
		overflow: hidden;
		img {
			height: 100%;
			width: auto;
			max-width: none;
			position: relative;
			z-index: 3;
		}
		.hover {
			position: absolute;
			z-index: 4;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(000,000,000,0.6);
			opacity: 0;
			.flex;
			.flex-ai( center );
			.flex-jc( center );
			transition: opacity @transition-duration @transition-timing-function;
			a {
				font-size: 3rem;
				text-decoration: none;
				span {
					transition: color @transition-duration @transition-timing-function;
					color: #fff;
					&:hover {
						color: @palette-1;
					}
				}
			}
		}
		&:hover {
			.hover {
				opacity: 1;
			}
		}
	}
	ul {
		padding: 0;
		li {
			.flex;
			.flex-d;
			.flex-ai( center );
			&:before {
				content: '';
				font-family: FontAwesome;
				width: @leading;
				height: @leading;
				border-radius: 50%;
				margin-right: 10px;
				text-align: center;
				.flex;
				.flex-ai( center );
				.flex-jc( center );
				color: #fff;
				background-color: @palette-2;
				font-size: @leading / 2;
			}
			&.facebook {
				&:before {
					content: '\f09a';
				}
			}
			&.phone {
				&:before {
					content: '\f095';
				}
			}
			&.envelope {
				&:before {
					content: '\f0e0';
				}
			}
		}
	}
}