//- blog-article.jade

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800" rel="stylesheet")
		title Blog Article - Walton Consulting Template
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		link(rel="stylesheet" href="css/style-1.css" id="template-skin")

	body

		<!-- Preload start -->
		include includes/preload.jade
		<!-- Preload end -->

		
		
		

		<!-- To the top start -->
		include includes/to-the-top.jade
		<!-- To the top end -->

		<!-- Mobile menu start -->
		include includes/mobile-menu.jade
		<!-- Mobile menu end -->

		#page.page
			#content-wrapper.content-wrapper

				.content-wrapper-inner

					<!-- Header start -->
					include includes/header-1.jade
					<!-- Header end -->

					<!-- Page titlebar start -->
					.content-section.decorated-bg.page-titlebar
						.container
							.row
								.col-lg-12
									h1.title How Walton Consulting is going to change your business strategies
									ol.breadcrumb
										li: a(href="#") Home
										li: a(href="#") Site Templates
										li: a(href="#") Business
										li: a(href="#") Corporate
										li.active Walton Consulting
					<!-- Page titlebar end -->

					<!-- Page content start -->
					.content-section
						.container
							.row
								.col-md-8
									<!-- Article start -->
									article.post.single
										figure.post-thumbnail: img(src="images/2250x1500.png" alt="")
										header.article-header
											ul.meta
												li.meta-date Posted on <a href="#">2th May, 2018</a>
												li.meta-category in <a href="#">News & Events</a>
											.share-article
												a.facebook(href="#") <i class="fa fa-facebook"></i> - Facebook
												a.twitter(href="#") <i class="fa fa-twitter"></i> - Twitter
												a.google-plus(href="#") <i class="fa fa-google-plus"></i> - Google +
												a.linkedin(href="#") <i class="fa fa-linkedin"></i> - Linkedin
												a.pinterest(href="#") <i class="fa fa-pinterest"></i> - Pinterest
											h2.title How Walton Consulting is going to change your business strategies
										include includes/article.jade
										footer.article-footer
											a.btn.btn-4(href="#") <i class="fa fa-angle-left"></i> Prev post
											a.btn.btn-4(href="#") Next post <i class="fa fa-angle-right"></i>
									<!-- Article end -->
									<!-- Related posts start -->
									.content-section.pb0
										h3 related posts
										.post.preview
											figure.post-thumbnail
												.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/2250x1500.png" alt="")
											.post-content
												ul.meta
													li.meta-date Posted on <a href="#">2th May, 2018</a>
													li.meta-category in <a href="#">News & Events</a>
												h4.post-title: a(href="#") Five great lessons you can learn from Walton Consulting
												p Nunc sem orci, finibus ut mollis et, iaculis elementum risus. Quisque eget tincidunt sapien, in ullamcorper lorem.
										.post.preview
											figure.post-thumbnail
												.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/2250x1500.png" alt="")
											.post-content
												ul.meta
													li.meta-date Posted on <a href="#">5th May, 2018</a>
													li.meta-category in <a href="#">News & Events</a>
												h4.post-title: a(href="#") Why is Walton Consulting the most trending thing right now?
												p Quisque imperdiet condimentum aliquam. Pellentesque sollicitudin aliquet massa, et ornare nibh finibus vel. 
										.post.preview.last
											figure.post-thumbnail
												.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/2250x1500.png" alt="")
											.post-content
												ul.meta
													li.meta-date Posted on <a href="#">12th May, 2018</a>
													li.meta-category in <a href="#">News & Events</a>
												h4.post-title: a(href="#") This is how Walton Consulting will look like in 10 years time
												p Nulla pellentesque vestibulum est at auctor. Donec ac sagittis libero, ut rhoncus urna. Nulla facilisi. 
									<!-- Related posts end -->
									<!-- Comments start -->
									.content-section.pb0
										h3 comments (3)
										ol.comment-list
											li.comment
												header
													div
														figure: img(src="images/700x700.png" alt="")
														.person
															ul.meta
																li.meta-date Posted on <a href="#">12th May, 2018</a>
															h5.title Clara F. Kramer
													a.color-link(href="#") <i class="fa fa-reply"></i> Reply this
												.comment-content
													p Walton has really helped our business. Wow what great service, I love it!
											li.comment
												header
													div
														figure: img(src="images/700x700.png" alt="")
														.person
															ul.meta
																li.meta-date Posted on <a href="#">12th May, 2018</a>
															h5.title Adan F. Logan
													a.color-link(href="#") <i class="fa fa-reply"></i> Reply this
												.comment-content
													p If you want real marketing that works and effective implementation - Walton's got you covered. Walton is worth much more than I paid.
											li.comment
												header
													div
														figure: img(src="images/700x700.png" alt="")
														.person
															ul.meta
																li.meta-date Posted on <a href="#">12th May, 2018</a>
															h5.title Brandie J. Adams
													a.color-link(href="#") <i class="fa fa-reply"></i> Reply this
												.comment-content
													p Walton saved my business. Just what I was looking for. Walton is the most valuable business resource we have EVER purchased.
									<!-- Comments end -->
									<!-- Comment form start -->
									.content-section.pb0
										h3 add your comment
										.row
											form
												.form-group.clearfix
													.col-xs-12.col-sm-6
														input.form-control(type="text" placeholder="Your name *")
												.form-group.clearfix
													.col-xs-12.col-sm-6
														input.form-control(type="tel" placeholder="Your e-mail *")
												.form-group.clearfix
													.col-xs-12.col-sm-6
														input.form-control(type="url" placeholder="Website...")
												.form-group.clearfix
													.col-xs-12
														textarea.form-control(placeholder="Your message *" rows="7")
												.form-group.clearfix
													.col-xs-12
														button.btn.btn-2(type="submit") Send your comment
									<!-- Comment form end -->
								.col-md-4
									<!-- Sidebar start -->
									include includes/sidebar.jade
									<!-- Sidebar end -->
					<!-- Page content end -->

				<!-- Footer start -->
				include includes/footer-1.jade
				<!-- Footer end -->

		<!-- build:js js/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
		include includes/scripts.jade
