//- blog-3.jade

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800" rel="stylesheet")
		title Blog #3 - Walton Consulting Template
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		link(rel="stylesheet" href="css/style-1.css" id="template-skin")

	body

		<!-- Preload start -->
		include includes/preload.jade
		<!-- Preload end -->

		
		
		

		<!-- To the top start -->
		include includes/to-the-top.jade
		<!-- To the top end -->

		<!-- Mobile menu start -->
		include includes/mobile-menu.jade
		<!-- Mobile menu end -->

		#page.page
			#content-wrapper.content-wrapper

				.content-wrapper-inner

					<!-- Header start -->
					include includes/header-1.jade
					<!-- Header end -->

					<!-- Page titlebar start -->
					.content-section.decorated-bg.page-titlebar
						.container
							.row
								.col-lg-12
									h1.title Blog style #3
									ol.breadcrumb
										li: a(href="#") Home
										li: a(href="#") Site Templates
										li: a(href="#") Business
										li: a(href="#") Corporate
										li.active Walton Consulting
					<!-- Page titlebar end -->

					<!-- Posts start -->
					.content-section
						.container
							.row
								.col-md-8
									.post.big-preview.blog-list
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										ul.meta
											li.meta-date Posted on <a href="#">2th May, 2018</a>
											li.meta-category in <a href="#">News & Events</a>
										h3.post-title: a(href="#") Five great lessons you can learn from Walton Consulting
										p Mauris auctor neque quam, sed mollis quam pharetra vitae. Nunc id pellentesque sem, at porta metus. Proin lacinia erat orci, ac tincidunt tortor luctus iaculis. Proin nec aliquet est, ac venenatis justo. Nam venenatis eleifend justo, ac posuere tellus bibendum vel. Duis dictum et ipsum convallis vulputate. 
										p: a.color-link(href="#") Read more <i class="fa fa-long-arrow-right"></i>
									.post.big-preview.blog-list
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										ul.meta
											li.meta-date Posted on <a href="#">4th May, 2018</a>
											li.meta-category in <a href="#">News & Events</a>
										h3.post-title: a(href="#") Why is Walton Consulting the most trending thing now?
										p Vestibulum aliquam, arcu id tempus lobortis, nunc quam convallis elit, a interdum arcu massa quis arcu. Cras in nisl aliquam, molestie sem in, euismod tellus. Aliquam ut tellus iaculis dolor posuere auctor eu id orci. Vivamus interdum, ligula nec pellentesque maximus, lorem purus feugiat odio, et gravida mi nulla at turpis. 
										p: a.color-link(href="#") Read more <i class="fa fa-long-arrow-right"></i>
									.post.big-preview.blog-list
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										ul.meta
											li.meta-date Posted on <a href="#">7th May, 2018</a>
											li.meta-category in <a href="#">News & Events</a>
										h3.post-title: a(href="#") How Walton Consulting is going to change your business strategies
										p Nulla tincidunt mollis lectus eget porta. Praesent arcu odio, tempus sit amet fringilla nec, porta a lacus. Sed blandit cursus lorem eget mollis. Sed aliquet cursus lobortis. Sed in nisi dictum purus consequat vestibulum. Pellentesque dapibus libero nec odio fermentum, in feugiat tellus viverra. 
										p: a.color-link(href="#") Read more <i class="fa fa-long-arrow-right"></i>
									<!-- Pagination start -->
									include include/pagination.jade
									<!-- Pagination end -->
								.col-md-4
									<!-- Sidebar start -->
									include includes/sidebar.jade
									<!-- Sidebar end -->
					<!-- Posts end -->

				<!-- Footer start -->
				include includes/footer-1.jade
				<!-- Footer end -->

		<!-- build:js js/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
		include includes/scripts.jade
