//- page-faq.jade

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800" rel="stylesheet")
		title FAQ - Walton Consulting Template
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		link(rel="stylesheet" href="css/style-1.css" id="template-skin")

	body

		<!-- Preload start -->
		include includes/preload.jade
		<!-- Preload end -->

		
		
		

		<!-- To the top start -->
		include includes/to-the-top.jade
		<!-- To the top end -->

		<!-- Mobile menu start -->
		include includes/mobile-menu.jade
		<!-- Mobile menu end -->

		#page.page
			#content-wrapper.content-wrapper

				.content-wrapper-inner

					<!-- Header start -->
					include includes/header-1.jade
					<!-- Header end -->

					<!-- Page titlebar start -->
					.content-section.decorated-bg.page-titlebar
						.container
							.row
								.col-lg-12
									h1.title frequently asked questions
									ol.breadcrumb
										li: a(href="#") Home
										li: a(href="#") Site Templates
										li: a(href="#") Business
										li: a(href="#") Corporate
										li.active Walton Consulting
					<!-- Page titlebar end -->

					<!-- Intro start -->
					.content-section.palette-4-bg
						.container
							.row
								.col-xs-12
									p.text-decor-1 welcome to walton consulting
									p.text-decor-2 Ideas and breakthroughs fueled by 100+ years of total experience.
									p Nullam placerat, sapien et eleifend condimentum, felis nisi pretium dolor, in pharetra tellus ipsum eget odio. Maecenas id cursus dui. Duis fermentum tortor id sapien tempor, quis placerat nunc gravida. Integer a diam sem. Vivamus vehicula consequat leo, ut cursus tellus iaculis et. Etiam volutpat bibendum dui at ullamcorper.
					<!-- Intro end -->

					<!-- Page content start -->
					.content-section
						.container
							.row
								.col-md-8
									h3.faq-header getting started
									.clearfix
									.rt-accordion(data-rt-accordion data-rt-accordion-toggle="on" data-rt-accordion-active="2")
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title How Walton Became A Globally Well-Known Brand
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title Why Is Everyone Talking About Walton?
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title 7 Unexpected Ways Walton Can Make Your Life Better
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title Seven Latest Developments In Walton
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
									h3.faq-header how it works
									.clearfix
									.rt-accordion(data-rt-accordion data-rt-accordion-toggle="on")
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title How Walton Became A Globally Well-Known Brand
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title Why Is Everyone Talking About Walton?
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title 7 Unexpected Ways Walton Can Make Your Life Better
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title Seven Latest Developments In Walton
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
									h3.faq-header payment options
									.clearfix
									.rt-accordion(data-rt-accordion data-rt-accordion-toggle="on")
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title How Walton Became A Globally Well-Known Brand
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title Why Is Everyone Talking About Walton?
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title 7 Unexpected Ways Walton Can Make Your Life Better
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
										.rt-accordion-item(data-rt-accordion-item)
											header
												p.title Seven Latest Developments In Walton
											.content
												p Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. 
												p Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. 
								<!-- Sidebar start -->
								.col-md-4
									.sidebar
										.widget.image-bg.image-bg-7
											h3.widget-title we are hire
											.widget-content
												p Fusce finibus metus in dolor pharetra, sed efficitur libero pulvinar. Ut ac nunc mi. Donec ut ligula lorem. Phasellus lacinia pulvinar volutpat.
												p: a.btn.btn-1(href="#") join our team
										.widget.palette-2-bg
											h3.widget-title contact us
											.widget-content
												p Nulla suscipit quam ac sem sagittis, non porttitor justo accumsan. Pellentesque vitae pulvinar turpis, ut ullamcorper tellus.
												p: a.btn.btn-1(href="#") get in touch
								<!-- Sidebar end -->
					<!-- Page content end -->

				<!-- Footer start -->
				include includes/footer-1.jade
				<!-- Footer end -->

		<!-- build:js js/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
		include includes/scripts.jade
