//- page-services.jade

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800" rel="stylesheet")
		title Services - Walton Consulting Template
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		link(rel="stylesheet" href="css/style-1.css" id="template-skin")

	body

		<!-- Preload start -->
		include includes/preload.jade
		<!-- Preload end -->

		
		
		

		<!-- To the top start -->
		include includes/to-the-top.jade
		<!-- To the top end -->

		<!-- Mobile menu start -->
		include includes/mobile-menu.jade
		<!-- Mobile menu end -->

		#page.page
			#content-wrapper.content-wrapper

				.content-wrapper-inner

					<!-- Header start -->
					include includes/header-1.jade
					<!-- Header end -->

					<!-- Page titlebar start -->
					.content-section.decorated-bg.page-titlebar
						.container
							.row
								.col-lg-12
									h1.title Services
									ol.breadcrumb
										li: a(href="#") Home
										li: a(href="#") Site Templates
										li: a(href="#") Business
										li: a(href="#") Corporate
										li.active Walton Consulting
					<!-- Page titlebar end -->

					<!-- Services start -->
					.content-section.services-section
						.container
							.row
								.col-lg-12
									.content-section-header.center
										h2.title services we provide
										p.description We help you communnicate the value of your project so you get the buy-in and adoption you need to success.
							.row
								.col-xs-12.col-sm-6.col-md-4
									.icon-box.v4.with-image
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										header
											span.wicon-iconmonstr-bar-chart-thin
											h4.title Information Management
										p Aliquam aliquam, libero ac pellentesque suscipit, enim urna sollicitudin diam, vitae gravida leo dui vitae libero.
										p: a.color-link(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
								.col-xs-12.col-sm-6.col-md-4
									.icon-box.v4.with-image
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										header
											span.wicon-iconmonstr-folder-full-thin
											h4.title corporate finance
										p Praesent hendrerit pulvinar ex, in commodo orci sagittis non. Vestibulum vehicula viverra aliquam. 
										p: a.color-link(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
								.col-xs-12.visible-sm.visible-xs
								.col-xs-12.col-sm-6.col-md-4
									.icon-box.v4.with-image
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										header
											span.wicon-iconmonstr-gear-thin
											h4.title operation management
										p Phasellus sollicitudin a sem ac placerat. Morbi vulputate eget dolor et pretium. Proin eu posuere justo. 
										p: a.color-link(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
								.col-xs-12.visible-lg.visible-md
								.col-xs-12.col-sm-6.col-md-4
									.icon-box.v4.with-image
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										header
											span.wicon-iconmonstr-database-thin
											h4.title strategy and optimisation
										p Cras maximus tortor nec quam euismod semper. Aenean volutpat orci lectus, vitae ultricies eros tempus in. 
										p: a.color-link(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
								.col-xs-12.visible-sm.visible-xs
								.col-xs-12.col-sm-6.col-md-4
									.icon-box.v4.with-image
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										header
											span.wicon-iconmonstr-info-thin
											h4.title risk management
										p Etiam lacinia ex ut magna consectetur, sit amet congue lacus feugiat. Mauris vel tortor tincidunt. 
										p: a.color-link(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
								.col-xs-12.col-sm-6.col-md-4
									.icon-box.v4.with-image
										figure.post-thumbnail
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										header
											span.wicon-iconmonstr-light-bulb-thin
											h4.title technologies and innovations
										p In rhoncus eget erat placerat lacinia. Pellentesque a porttitor nisi, a placerat nisi.
										p: a.color-link(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
					<!-- Services end -->

					<!-- Text start -->
					.content-section.image-bg.image-bg-10
						.container
							.row
								.col-md-6
									p.text-decor-1 welcome to walton consulting
									p.text-decor-2.text-white Ideas and breakthroughs fueled by 100+ years of total experience.
								.col-md-6
									p Nullam placerat, sapien et eleifend condimentum, felis nisi pretium dolor, in pharetra tellus ipsum eget odio. Maecenas id cursus dui. Duis fermentum tortor id sapien tempor, quis placerat nunc gravida. Integer a diam sem. Vivamus vehicula consequat leo, ut cursus tellus iaculis et. Etiam volutpat bibendum dui at ullamcorper.
									p
										a.btn.btn-1(href="#") <i class="fa fa-file"></i> get a quotation
										a.btn.btn-2(href="#") get in touch
					<!-- Text end -->

					<!-- Why choose start -->
					.content-section
						.container
							.row
								.col-md-6
									.content-section-header.left
										h2.title why choose walton?
										p.description We've evolved innovation from an art to a predictable science.
									p Proin commodo, dolor in volutpat vestibulum, tellus nulla ultricies eros, in accumsan nunc mauris a ex. Fusce lacinia justo ex, quis convallis nunc eleifend ac. Vestibulum posuere diam sit amet sem varius, sit amet viverra erat dapibus. Nunc sit amet erat sit amet nunc mattis pharetra. Suspendisse commodo eleifend turpis id posuere. Aenean aliquam, nulla non malesuada convallis.
									p: a.color-link(href="#") Discover how Walton can improve you business <i class="fa fa-long-arrow-right"></i>
									p: a.color-link(href="#") Learn more services we provide <i class="fa fa-long-arrow-right"></i>
									p: a.color-link(href="#") Meet our expert team of professionals <i class="fa fa-long-arrow-right"></i>
								.col-md-6.subsection-fix-sm.subsection-fix-xs
									.steps
										.steps-item
											.value 01.
											.content
												h4 Market & Product strategy
												p Donec porta, lectus a gravida efficitur, dui purus mollis est, id ultrices enim arcu sit amet risus. Morbi vel semper sem. 
										.steps-item
											.value 02.
											.content
												h4 Outcome-based Segmentation
												p Mauris aliquet tellus a nisi posuere, sit amet accumsan leo ullamcorper. Aenean vehicula scelerisque porta. 
										.steps-item
											.value 03.
											.content
												h4 Customer Needs discovery
												p Sed nec consectetur arcu. Nullam massa erat, faucibus fringilla mauris a, efficitur elementum mi. 
										.steps-item
											.value 04.
											.content
												h4 competitive analysis
												p Vestibulum sit amet metus tincidunt nulla facilisis posuere. Mauris porta id massa quis iaculis.
					<!-- Why choose end -->

				<!-- Footer start -->
				include includes/footer-1.jade
				<!-- Footer end -->

		<!-- build:js js/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
		include includes/scripts.jade
