//- page-about.jade

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800" rel="stylesheet")
		title About Our Company - Walton Consulting Template
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		link(rel="stylesheet" href="css/style-1.css" id="template-skin")

	body

		<!-- Preload start -->
		include includes/preload.jade
		<!-- Preload end -->

		
		
		

		<!-- To the top start -->
		include includes/to-the-top.jade
		<!-- To the top end -->

		<!-- Mobile menu start -->
		include includes/mobile-menu.jade
		<!-- Mobile menu end -->

		#page.page
			#content-wrapper.content-wrapper

				.content-wrapper-inner

					<!-- Header start -->
					include includes/header-1.jade
					<!-- Header end -->

					<!-- Page titlebar start -->
					.content-section.decorated-bg.page-titlebar
						.container
							.row
								.col-lg-12
									h1.title about our company
									ol.breadcrumb
										li: a(href="#") Home
										li: a(href="#") Site Templates
										li: a(href="#") Business
										li: a(href="#") Corporate
										li.active Walton Consulting
					<!-- Page titlebar end -->

					<!-- Intro start -->
					.content-section.palette-4-bg
						.container
							.row
								.col-md-6
									p.text-decor-1 the process of infinite creativity
									p.text-decor-2 We are a leading global provider of advisory and consultancy serices.
									p Nullam placerat, sapien et eleifend condimentum, felis nisi pretium dolor, in pharetra tellus ipsum eget odio.
									p Maecenas id cursus dui. Duis fermentum tortor id sapien tempor, quis placerat nunc gravida. Integer a diam sem. Vivamus vehicula consequat leo, ut cursus tellus iaculis et. Etiam volutpat bibendum dui at ullamcorper.
									p: a.btn.btn-2(href="#") discover our advantages <i class="fa fa-long-arrow-right"></i>
								.col-md-6
									p: img(src="images/2250x1500.png" alt="")
					<!-- Intro end -->

					<!-- Benefits start -->
					.content-section
						.container
							.row
								.col-md-4.icon-box.v1
									p: span.wicon-iconmonstr-globe-thin
									div
										h3 who we are
										p Vivamus porta vulputate nisl, nec consectetur est ornare pharetra arcu erat sit amet. 
										p: a.color-link(href="#") Read more...
								.col-md-4.icon-box.v1
									p: span.wicon-iconmonstr-light-bulb-thin
									div
										h3 what we do
										p Nullam hendrerit, metus porttitor placerat tincidunt, ante ex venenatis amet lectus. 
										p: a.color-link(href="#") Read more...
								.col-md-4.icon-box.v1
									p: span.wicon-iconmonstr-database-thin
									div
										h3 how we do it
										p Vestibulum vitae turpis ut nibh scelerisque neque tincidunt pharetra sollicitudin orci. 
										p: a.color-link(href="#") Read more...
					<!-- Benefits end -->

					<!-- CTA start -->
					.content-section.image-bg.image-bg-10.cta.v1
						.container
							.row
								.col-lg-12
									p.text-1 we help organisations
									p.text-2 manage changes
									p Independent global business advisory firm.
									p: a.btn.btn-1(href="#") <i class="fa fa-file"></i> get a quotation
					<!-- CTA end -->

					<!-- Why choose start -->
					.content-section.palette-4-bg
						.container
							.row
								.col-xs-12
									.content-section-header.center
										h2.title why choose walton?
										p.description We've evolved innovation from an art to a predictable science.
							.row
								.col-xs-12.col-md-6
									figure: img(src="images/2250x1500.png" alt="")
								.col-xs-12.col-md-6.mtl-sm.mtl-xs
									.row
										.col-xs-12.col-sm-6
											.icon-box.v4
												header
													h4.title market & product strategy
												p Donec porta, lectus a gravida efficitur, dui purus mollis est, id ultrices enim arcu sit amet risus. Morbi vel semper sem. 
										.col-xs-12.col-sm-6
											.icon-box.v4
												header
													h4.title outcome-based segmentation
												p Mauris aliquet tellus a nisi posuere, sit amet accumsan leo ullamcorper. Aenean vehicula scelerisque porta. 
										.col-xs-12
										.col-xs-12.col-sm-6
											.icon-box.v4
												header
													h4.title customer need discovery
												p Sed nec consectetur arcu. Nullam massa erat, faucibus fringilla mauris a, efficitur elementum mi. 
										.col-xs-12.col-sm-6
											.icon-box.v4
												header
													h4.title competitive analysis
												p Vestibulum sit amet metus tincidunt nulla facilisis posuere. Mauris porta id massa quis iaculis.
										.col-xs-12: p: a.btn.btn-2(href="#") discover more
					<!-- Why choose end -->

					<!-- Team start -->
					.content-section
						.container
							.row
								.col-lg-12
									.content-section-header.center
										h2.title meet our professional team
										p.description Featured testifying and consulting experts.
							.row
								.col-lg-12.index-2-recent-cases
									#team.team-owl-carousel.owl-carousel.owl-theme
										.team-item
											figure
												.hover: a.lightbox-images(href="images/700x700.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/700x700.png" alt="")
											header
												h5 Alex R. Hopkins
												.text-decor-1 company ceo
											p Morbi quis dolor sed elit ultrices maximus. Phasellus accumsan neque in porta malesuada.
											ul
												li.facebook
													a(href="#") http://www.facebook.com/alex.hopkins
												li.phone 1 516-634-8047
												li.envelope
													a(href="#") alex.hopkins@walton.com
										.team-item
											figure
												.hover: a.lightbox-images(href="images/700x700.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/700x700.png" alt="")
											header
												h5 Brandon S. Brunner
												.text-decor-1 company ceo
											p Fusce venenatis libero ac neque rutrum consequat vitae id mi. Sed eget luctus justo, at blandit velit. 
											ul
												li.facebook
													a(href="#") http://www.facebook.com/Brandon.Brunner
												li.phone 1 718-734-2848
												li.envelope
													a(href="#") Brandon.Brunner@walton.com
										.team-item
											figure
												.hover: a.lightbox-images(href="images/700x700.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/700x700.png" alt="")
											header
												h5 Danielle D. Peeples
												.text-decor-1 manager
											p Aliquam dictum ornare felis sit amet rutrum. Nunc et mi vel sem dignissim commodo.
											ul
												li.facebook
													a(href="#") http://www.facebook.com/Danielle.Peeples
												li.phone 1 804-501-8416
												li.envelope
													a(href="#") Danielle.Peeples@walton.com
										.team-item
											figure
												.hover: a.lightbox-images(href="images/700x700.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/700x700.png" alt="")
											header
												h5 Clarence L. White
												.text-decor-1 manager
											p Fusce eu mi dictum, sodales ipsum et, consectetur diam consequat et lectus ut malesuada.
											ul
												li.facebook
													a(href="#") http://www.facebook.com/Clarence.White
												li.phone 1 559-748-2680
												li.envelope
													a(href="#") Clarence.White@walton.com
										.team-item
											figure
												.hover: a.lightbox-images(href="images/700x700.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/700x700.png" alt="")
											header
												h5 Donna C. Kingston
												.text-decor-1 manager
											p Integer nec orci nec orci commodo blandit at in nunc. Nunc non orci nec dui consectetur blandit eget non nisi.
											ul
												li.facebook
													a(href="#") http://www.facebook.com/Donna.Kingston
												li.phone 1 978-534-7960
												li.envelope
													a(href="#") Donna.Kingston@walton.com
							.row
								.col-lg-12
									#team-nav.owl-nav.center
					<!-- Team end -->

					<!-- Testimonials start -->
					.content-section.decorated-bg
						.container
							.row
								.col-md-3.col-lg-4
									.content-section-header.left
										h2.title clients testimonials
										p.description What our clients say about us.
									.clearfix
									#testimonials-nav.owl-nav.left
								.col-md-9.col-lg-8
									#testimonials.testimonials-owl.owl-theme.owl-carousel
										.testimonials-item
											header
												h4 Rose A. Blanche
												.text-decor-1 Control room operator, "Electronics Source"
											.content
												p " I just can't get enough of Walton. I want to get a T-Shirt with Walton on it so I can show it off to everyone. Walton has completely surpassed our expectations. "
										.testimonials-item
											header
												h4 Lillie M. Webb
												.text-decor-1 Etcher, "JasmineSola"
											.content
												p " Very easy to use. I have gotten at least 50 times the value from Walton. Keep up the excellent work. "
										.testimonials-item
											header
												h4 Gregory J. Reeves
												.text-decor-1 Independent insurance agent, "Sambo's"
											.content
												p " Walton is both attractive and highly adaptable. It's incredible. Walton is the next killer app. "
					<!-- Testimonials end -->

					<!-- Partners start -->
					.content-section
						.container
							.row
								.col-lg-12
									.partners-wrapper
										.partners-nav.left.owl-nav
											button#partners-prev.owl-prev(type="button" role="presentation"): span.wicon-iconmonstr-angel-left-circle-thin
										#partners.partners-content.owl-carousel.owl-theme
											img(src="images/partners/1.png" alt="")
											img(src="images/partners/2.png" alt="")
											img(src="images/partners/3.png" alt="")
											img(src="images/partners/4.png" alt="")
											img(src="images/partners/5.png" alt="")
											img(src="images/partners/6.png" alt="")
											img(src="images/partners/7.png" alt="")
											img(src="images/partners/8.png" alt="")
											img(src="images/partners/9.png" alt="")
										.partners-nav.right.owl-nav
											button#partners-next.owl-next(type="button" role="presentation"): span.wicon-iconmonstr-angel-right-circle-thin
					<!-- Partners end -->

				<!-- Footer start -->
				include includes/footer-1.jade
				<!-- Footer end -->

		<!-- build:js js/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
		include includes/scripts.jade
