//- portfolio-project.jade

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800" rel="stylesheet")
		title Coming Soon - Walton Consulting Template
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		link(rel="stylesheet" href="css/style-1.css" id="template-skin")

	body

		<!-- Preload start -->
		include includes/preload.jade
		<!-- Preload end -->

		
		
		

		.coming-soon-wrapper
			.left.image-bg.image-bg-10
				<!-- Logo start -->
				a.site-logo(href="index.html" title="Walton")
					.logo-img: img(src="images/logo.png" alt="Walton")
					.name-and-tagline
						.name Walton
						.tagline solutions for business
				<!-- Logo end -->
			.right.palette-2-bg
				h3 Welcome to Walton Consulting
				p Something awesome is in the work.
				.rt-countdown(data-rt-countdown="2020:9:15:0:0:0")
					.rt-countdown-item(data-rt-countdown-days)
						.value 0
						.name days
					.rt-countdown-item(data-rt-countdown-hours)
						.value 0
						.name hours
					.rt-countdown-item(data-rt-countdown-minutes)
						.value 0
						.name minutes
					.rt-countdown-item(data-rt-countdown-seconds)
						.value 0
						.name seconds

		<!-- build:js js/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
		include includes/scripts.jade
