//- portfolio-project.jade

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800" rel="stylesheet")
		title Portfolio Project - Walton Consulting Template
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		link(rel="stylesheet" href="css/style-1.css" id="template-skin")

	body

		<!-- Preload start -->
		include includes/preload.jade
		<!-- Preload end -->

		
		
		

		<!-- To the top start -->
		include includes/to-the-top.jade
		<!-- To the top end -->

		<!-- Mobile menu start -->
		include includes/mobile-menu.jade
		<!-- Mobile menu end -->

		#page.page
			#content-wrapper.content-wrapper

				.content-wrapper-inner

					<!-- Header start -->
					include includes/header-1.jade
					<!-- Header end -->

					<!-- Page titlebar start -->
					.content-section.decorated-bg.page-titlebar
						.container
							.row
								.col-lg-12
									h1.title Portfolio Project
									ol.breadcrumb
										li: a(href="#") Home
										li: a(href="#") Site Templates
										li: a(href="#") Business
										li: a(href="#") Corporate
										li.active Walton Consulting
					<!-- Page titlebar end -->

					<!-- Project images start -->
					.content-section
						.container
							.row
								.col-lg-12
									#single-project-images.single-project-images
										.portfolio-project-images.owl-theme.owl-carousel
											figure.post-thumbnail(data-hash="ppi-1")
												.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/2250x1500.png" alt="")
											figure.post-thumbnail(data-hash="ppi-2")
												.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/2250x1500.png" alt="")
											figure.post-thumbnail(data-hash="ppi-3")
												.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/2250x1500.png" alt="")
											figure.post-thumbnail(data-hash="ppi-4")
												.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/2250x1500.png" alt="")
											figure.post-thumbnail(data-hash="ppi-5")
												.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
												img(src="images/2250x1500.png" alt="")
										.portfolio-project-thumbs-wrapper
											.portfolio-project-thumbs.palette-2-bg
												.portfolio-project-thumbs-nav.left.owl-nav
													button.owl-prev(type="button" role="presentation")
														span.wicon-iconmonstr-angel-left-circle-thin
												#portfolio-project-thumbs.owl-carousel.owl-theme
												.portfolio-project-thumbs-nav.right.owl-nav
													button.owl-next(type="button" role="presentation")
														span.wicon-iconmonstr-angel-right-circle-thin
							.row
								.col-xs-12.col-md-4
									h3 project details
									.project-details-item
										.text-decor-1 industry
										h5.title automotive
									.project-details-item
										.text-decor-1 project name
										h5.title "Morrison's Cafeteria: Core services project"
									.project-details-item
										.text-decor-1 used skills
										h5.title UI/UX Design, management, coding
									.project-details-item
										.text-decor-1 project team
										h5.title Carl S. West, Kevin D. Rice
								.col-xs-12.col-md-8
									h3 short descriptsion
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend purus at felis pretium bibendum. Nunc feugiat fermentum dapibus. Donec metus lorem, tincidunt vel dolor quis, consectetur pellentesque neque. Integer id lectus laoreet, consequat ex sit amet, facilisis mi. Morbi in velit a neque pellentesque porta. Donec convallis ex ut dolor vehicula commodo. Aenean ornare condimentum elit, vel varius nisl. Nullam arcu purus, ultricies quis neque eget, porta consectetur neque. Mauris mattis cursus magna, nec rhoncus urna fringilla nec. Mauris aliquam pellentesque nisi, a tempor augue commodo ut.
									p Praesent in fringilla nisl, ut accumsan tellus. Duis neque tortor, consectetur non imperdiet eget, interdum id arcu. Mauris a nulla ut tortor accumsan ultricies. In non nisl luctus, tempus ante varius, auctor ligula. Nullam non massa at sem interdum fermentum. Pellentesque aliquet sollicitudin dignissim. 
									p: a.btn.btn-1(href="#") <i class="fa fa-external-link"></i> launch the project
					<!-- Project images end -->

					<!-- Related projects start -->
					.content-section.palette-4-bg
						.container
							.row
								.col-lg-12
									.content-section-header.center
										h2.title related projectts
							.row
								.col-lg-12
									.index-3-recent-cases
										#index-3-recent-cases.owl-carousel.owl-theme
											.recent-cases-item.v3
												figure
													.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
													img(src="images/2250x1500.png" alt="")
												.details
													div
														p.title: a(href="#") Jeans Unlilmited
														p.text-decor-1 Windsor, OH 44099
													p: a.color-link(href="#") Learn more <i class="fa fa-arrow-llong-right"></i>
											.recent-cases-item.v3
												figure
													.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
													img(src="images/2250x1500.png" alt="")
												.details
													div
														p.title: a(href="#") E-zhe Source
														p.text-decor-1 Windsor, OH 44099
													p: a.color-link(href="#") Learn more <i class="fa fa-arrow-llong-right"></i>
											.recent-cases-item.v3
												figure
													.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
													img(src="images/2250x1500.png" alt="")
												.details
													div
														p.title: a(href="#") Kash n' Karry
														p.text-decor-1 Windsor, OH 44099
													p: a.color-link(href="#") Learn more <i class="fa fa-arrow-llong-right"></i>
											.recent-cases-item.v3
												figure
													.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
													img(src="images/2250x1500.png" alt="")
												.details
													div
														p.title: a(href="#") Peter Reeves
														p.text-decor-1 Windsor, OH 44099
													p: a.color-link(href="#") Learn more <i class="fa fa-arrow-llong-right"></i>
											.recent-cases-item.v3
												figure
													.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
													img(src="images/2250x1500.png" alt="")
												.details
													div
														p.title: a(href="#") Big Apple
														p.text-decor-1 Windsor, OH 44099
													p: a.color-link(href="#") Learn more <i class="fa fa-arrow-llong-right"></i>
											.recent-cases-item.v3
												figure
													.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
													img(src="images/2250x1500.png" alt="")
												.details
													div
														p.title: a(href="#") Your Future Is Now
														p.text-decor-1 Windsor, OH 44099
													p: a.color-link(href="#") Learn more <i class="fa fa-arrow-llong-right"></i>
							.row
								.col-lg-12: #index-3-recent-cases-nav.owl-nav.center
					<!-- Related projects end -->

					<!-- CTA start -->
					.content-section.image-bg.image-bg-10.cta.v1
						.container
							.row
								.col-lg-12
									p.text-1 we help organisations
									p.text-2 manage changes
									p Independent global business advisory firm.
									p: a.btn.btn-1(href="#") <i class="fa fa-file"></i> get a quotation
					<!-- CTA end -->

				<!-- Footer start -->
				include includes/footer-1.jade
				<!-- Footer end -->

		<!-- build:js js/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
		include includes/scripts.jade
