//- portfolio-1.jade

doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800" rel="stylesheet")
		title Portfolio #1 - Walton Consulting Template
		<!-- build:css css/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		link(rel="stylesheet" href="css/style-1.css" id="template-skin")

	body

		<!-- Preload start -->
		include includes/preload.jade
		<!-- Preload end -->

		
		
		

		<!-- To the top start -->
		include includes/to-the-top.jade
		<!-- To the top end -->

		<!-- Mobile menu start -->
		include includes/mobile-menu.jade
		<!-- Mobile menu end -->

		#page.page
			#content-wrapper.content-wrapper

				.content-wrapper-inner

					<!-- Header start -->
					include includes/header-1.jade
					<!-- Header end -->
					<!-- Page titlebar start -->
					.content-section.decorated-bg.page-titlebar
						.container
							.row
								.col-lg-12
									h1.title Portfolio #1
									ol.breadcrumb
										li: a(href="#") Home
										li: a(href="#") Site Templates
										li: a(href="#") Business
										li: a(href="#") Corporate
										li.active Walton Consulting
					<!-- Page titlebar end -->

					<!-- Page content start -->
					.content-section
						.container
							<!-- Portfolio filter start -->
							.row
								.col-lg-12
									.button-group.filter-button-group
										button(data-filter="*") show all
										button(data-filter=".automotive") automotive
										button(data-filter=".chemicals") chemicals
										button(data-filter=".energy") energy
										button(data-filter=".healthcare") healthcare
										button(data-filter=".manufacturing") manufacturing
										button(data-filter=".telecom") telecommunications
							<!-- Portfolio filter end -->
							.row: .grid
								.col-xs-12.col-sm-6.col-md-4.grid-item.automotive
									.recent-cases-item.v2.mtl.portfolio
										figure
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										.details
											p.title: a(href="#") Jeans Unlilmited
											p.text-decor-1 Windsor, OH 44099
								.col-xs-12.col-sm-6.col-md-4.grid-item.chemicals
									.recent-cases-item.v2.mtl.portfolio
										figure
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										.details
											p.title: a(href="#") Best Products
											p.text-decor-1 Vienna, VA 22181 
								.col-xs-12.col-sm-6.col-md-4.grid-item.energy
									.recent-cases-item.v2.mtl.portfolio
										figure
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										.details
											p.title: a(href="#") Blockbuster Music
											p.text-decor-1 Phoenix, AZ 85012
								.col-xs-12.col-sm-6.col-md-4.grid-item.healthcare
									.recent-cases-item.v2.mtl.portfolio
										figure
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										.details
											p.title: a(href="#") H. J. Wilson & Company
											p.text-decor-1 Thousand Oaks, CA 91362
								.col-xs-12.col-sm-6.col-md-4.grid-item.manufacturing
									.recent-cases-item.v2.mtl.portfolio
										figure
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										.details
											p.title: a(href="#") Fedco
											p.text-decor-1 Chicago, IL 60639
								.col-xs-12.col-sm-6.col-md-4.grid-item.telecom
									.recent-cases-item.v2.mtl.portfolio
										figure
											.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
											img(src="images/2250x1500.png" alt="")
										.details
											p.title: a(href="#") Crazy Eddie
											p.text-decor-1 New York, NY 10013
							.row
								.col-lg-12
									<!-- Pagination start -->
									include include/pagination.jade
									<!-- Pagination end -->
					<!-- Page content end -->

					<!-- CTA start -->
					.content-section.image-bg.image-bg-8.cta.v3
						.container
							.row
								.col-lg-12.cta-v3-content
									.content
										p.text-1 our mission is to
										p.text-2 boost your revenue & profit
										p We help our clients grow their revenue & profits. Faster, better and sustainably than anyone else.
									p.right: a.btn.btn-1(href="#") <i class="fa fa-file"></i> get a quotation
					<!-- CTA end -->

				<!-- Footer start -->
				include includes/footer-1.jade
				<!-- Footer end -->

		<!-- build:js js/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
		include includes/scripts.jade
