//- includes/footer-1.jade

footer.site-footer.site-footer-1
	.container
		.row.site-footer-content
			.col-lg-4.col-md-4.site-footer-logo
				div
					<!-- Logo start -->
					a.site-logo(href="index.html" title="Walton")
						.logo-img: img(src="images/logo.png" alt="Walton")
						.name-and-tagline
							.name Walton
							.tagline solutions for business
					<!-- Logo end -->
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id nunc auctor nisi efficitur mollis. In vel eleifend ex, vitae vestibulum eros. Vestibulum non nibh non dui tempus vehicula at ut felis. Donec sit amet euismod massa. 
				p Copyright @ 2018 U.S. <a href="">Walton Consulting Services</a>, Inc.
			.col-md-3.col-md-push-1
				.widget.widget-contacts
					h4.widget-title Contact Us
					.widget-content
						p.title.text-heading Walton Consulting Inc.
						p.address 1064 Maxwell Street<br>Windsor, CT 06095
						p.phone 1 (860) 729-1526
						p.email: a(href="#") support@walton.com
			.col-md-4.col-md-push-1
				.widget.widget-follow
					h4.widget-title follow us
					.widget-content
						p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
						p.links
							a(href="#"): i.fa.fa-facebook
							a(href="#"): i.fa.fa-twitter
							a(href="#"): i.fa.fa-linkedin
							a(href="#"): i.fa.fa-google-plus
