//- includes/footer-2.jade

footer.site-footer.site-footer-2
	.container
		.row
			.col-sm-4.col-md-4.col-lg-2
				.widget.widget-links
					h4.widget-title Company
					.widget-content
						ul
							li: a(href="#") Provided Services
							li: a(href="#") Our Experts
							li: a(href="#") Global Officies
							li: a(href="#") Career at Walton
							li: a(href="#") Social Media
							li: a(href="#") Terms of Use
			.col-sm-4.col-md-4.col-lg-2
				.widget.widget-links
					h4.widget-title Industries
					.widget-content
						ul
							li: a(href="#") Automotive
							li: a(href="#") Chemicals
							li: a(href="#") Energy & Utilities
							li: a(href="#") Healthcare
							li: a(href="#") Manufacturing
							li: a(href="#") Communications
			.col-sm-4.col-md-4.col-lg-2
				.widget.widget-links
					h4.widget-title Services
					.widget-content
						ul
							li: a(href="#") Information
							li: a(href="#") Corporate Finance
							li: a(href="#") Operations
							li: a(href="#") Optimisation
							li: a(href="#") Risk Management
							li: a(href="#") Innovations
			.col-xs-12.visible-md.visible-sm
			.col-xs-12.col-lg-5.col-lg-push-1
				<!-- Logo start -->
				a.site-logo(href="index.html" title="Walton")
					.logo-img: img(src="images/logo.png" alt="Walton")
					.name-and-tagline
						.name Walton
						.tagline solutions for business
				<!-- Logo end -->
				p Quisque eleifend non est sit amet sagittis. Nullam molestie sem ligula, et imperdiet leo accumsan mattis. Cras sed tellus fringilla, vehicula metus nec, fringilla lectus. Curabitur varius semper consequat. Mauris ac tincidunt metus. Sed vehicula id augue facilisis rhoncus. 
				.widget.widget-follow
					.widget-content
						p.links
							a(href="#"): i.fa.fa-facebook
							a(href="#"): i.fa.fa-twitter
							a(href="#"): i.fa.fa-linkedin
							a(href="#"): i.fa.fa-google-plus
				p Copyright @ 2018 U.S. <a href="#">Walton Consulting Services</a>, Inc.
