//- includes/footer-2.jade

footer.site-footer.site-footer-2
	.container
		.row
			.col-sm-4.col-md-4.col-lg-2.col-lg-push-6
				.widget.widget-links
					.widget-content
						ul
							li: a(href="#") Industries
							li: a(href="#") Services
							li: a(href="#") Our Experts
							li: a(href="#") Our Company
							li: a(href="#") Careers
			.col-sm-4.col-md-4.col-lg-2.col-lg-push-6
				.widget.widget-links
					.widget-content
						ul
							li: a(href="#") Investor Relations
							li: a(href="#") Newsroom
							li: a(href="#") Our Global Officies
							li: a(href="#") Contact Us
			.col-sm-4.col-md-4.col-lg-2.col-lg-push-6
				.widget.widget-links
					.widget-content
						ul
							li: a(href="#") Terms Of Use
							li: a(href="#") Privacy Policy
							li: a(href="#") Legal Information
							li: a(href="#") Social Media
			.col-xs-12.visible-md.visible-sm
			.col-xs-12.col-lg-5.col-lg-pull-6
				<!-- Logo start -->
				a.site-logo(href="index.html" title="Walton")
					.logo-img: img(src="images/logo.png" alt="Walton")
					.name-and-tagline
						.name Walton
						.tagline solutions for business
				<!-- Logo end -->
				p Quisque eleifend non est sit amet sagittis. Nullam molestie sem ligula, et imperdiet leo accumsan mattis. Cras sed tellus fringilla, vehicula metus nec, fringilla lectus. Curabitur varius semper consequat. Mauris ac tincidunt metus. Sed vehicula id augue facilisis rhoncus. 
				p Copyright @ 2018 U.S. <a href="#">Walton Consulting Services</a>, Inc.
