//- includes/header-2.jade

header#site-header-2.site-header.site-header-2.transparent
	<!-- Top bar start -->
	.top-bar.palette-2-bg
		.container
			.row
				.col-lg-12.top-bar-content
					ul.contacts
						li.contacts-phone Give us a call: 1 (860) 729-1526
						li.contacts-email Drop us a line: <a href="#">support@walton.com</a>
						li.contacts-address 1064 Maxwell Street, Windsor, CT 06095
					.lang-and-social-buttons
						ul
							li: a(href="#"): i.fa.fa-facebook
							li: a(href="#"): i.fa.fa-twitter
							li: a(href="#"): i.fa.fa-linkedin
							li: a(href="#"): i.fa.fa-google-plus
							li: a(href="#"): i.fa.fa-instagram
	<!-- Top bar end -->
	<!-- Main bar start -->
	#sticked-bar.main-bar
		.container
			.row
				.col-lg-12.main-bar-content
					<!-- Logo start -->
					a.site-logo(href="index.html" title="Walton")
						.logo-img: img(src="images/logo.png" alt="Walton")
						.name-and-tagline
							.name Walton
							.tagline solutions for business
					<!-- Logo end -->
					.main-bar-content-right
						<!-- Memu start -->
						include menu.jade
						<!-- Memu end -->
						<!-- Search start -->
						#header2-search-form.search-wrapper: form.search-form
							input(type="search" placeholder="Search here...")
							//- button(type="submit"): span.wicon-iconmonstr-search-thin
						<!-- Search end -->
						.search-content
							span#header2-search-icon.wicon-iconmonstr-search-thin
	<!-- Main bar start -->
