//- includes/homepage-slider.jade

.homepage-slider
	.homepage-slider-nav: a#homepage-slider-left(href="#"): span.wicon-iconmonstr-angel-left-circle-thin
	#homepage-slider.owl-theme.owl-carousel
		<!-- Homepage slider item start -->
		.homepage-slider-item
			img.homepage-slider-item-image(src="images/2250x1500.png" alt="")
			.container
				.row
					.col-lg-12
						.homepage-slider-item-content
							.text-1 a leading provider of
							.text-2 consulting services
							p.text-3 Empowering business through people.
							p.homepage-slider-item-link: a(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
		<!-- Homepage slider item end -->
		<!-- Homepage slider item start -->
		.homepage-slider-item
			img.homepage-slider-item-image(src="images/2250x1500.png" alt="")
			.container
				.row
					.col-lg-12
						.homepage-slider-item-content
							.text-1 we focus on 
							.text-2 passion & leadership
							p.text-3 We transform organisations once at a time.
							p.homepage-slider-item-link: a(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
		<!-- Homepage slider item end -->
		<!-- Homepage slider item start -->
		.homepage-slider-item
			img.homepage-slider-item-image(src="images/2250x1500.png" alt="")
			.container
				.row
					.col-lg-12
						.homepage-slider-item-content
							.text-1 we help organisations
							.text-2 manage changes
							p.text-3 Independent global bisuness advisory firm.
							p.homepage-slider-item-link: a(href="#") Learn more <i class="fa fa-long-arrow-right"></i>
		<!-- Homepage slider item end -->
	.homepage-slider-nav.right: a#homepage-slider-right(href="#"): span.wicon-iconmonstr-angel-right-circle-thin
