//- menu.jade

button.hidden-lg(data-pushbar-target="left")
	i.fa.fa-bars
	//- span.wicon-iconmonstr-menu-thin

//- label(for="menu-toggle" class="oc-menu-toggle") menu

nav#site-menu.site-menu.hidden-sm.hidden-xs.hidden-md
	ul
		li.active
			a(href="#") home
			ul
				li: a(href="index.html") Homepage #1
				li: a(href="index-2.html") Homepage #2
				li: a(href="index-3.html") Homepage #3
		li
			a(href="#") the company
			ul
				li: a(href="page-404.html") 404 error
				li: a(href="page-about.html") about the company
				li: a(href="page-coming-soon.html") coming soon
				li: a(href="page-contacts.html") contacts
				li: a(href="page-faq.html") faq
				li
					a(href="#") services
					ul
						li: a(href="page-services.html") services
						li: a(href="page-services-single.html") single service
				li
					a(href="#") sidebar
					ul
						li: a(href="page-full-width.html") full width page
						li: a(href="page-sidebar-left.html") left sidebar page
						li: a(href="page-sidebar-right.html") right sidebar page
		li
			a(href="page-services.html") services
			ul
				li: a(href="page-services.html") Full list of services
				li: a(href="page-services-single.html") single service
		li
			a(href="#") portfolio
			ul
				li: a(href="portfolio-1.html") portfolio #1
				li: a(href="portfolio-2.html") portfolio #2
				li: a(href="portfolio-project.html") portfolio project
		li
			a(href="blog-1.html") blog news
			ul
				li: a(href="blog-1.html") blog #1
				li: a(href="blog-2.html") blog #2
				li: a(href="blog-3.html") blog #3
				li: a(href="blog-article.html") blog article
		li: a(href="page-contacts.html") contacts
