//- includes/page.jade

p.text-decor-1 welcome to walton consulting
p.text-decor-2 Ideas and breakthroughs fueled by 100+ years of total experience.
p Nullam placerat, sapien et eleifend condimentum, felis nisi pretium dolor, in pharetra tellus ipsum eget odio. Maecenas id cursus dui. Duis fermentum tortor id sapien tempor, quis placerat nunc gravida. Integer a diam sem. Vivamus vehicula consequat leo, ut cursus tellus iaculis et. Etiam volutpat bibendum dui at ullamcorper.
p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis tellus a nunc lobortis facilisis. Cras ante mauris, aliquam quis mattis in, efficitur vel nisi. Pellentesque vel eros lorem. Praesent ultrices mi sed nunc hendrerit aliquam. Proin tristique lectus eu neque rhoncus, eu euismod dolor malesuada. Etiam aliquet eros sollicitudin pharetra efficitur. Pellentesque ligula lectus, molestie sed iaculis et, sollicitudin ac turpis. Suspendisse vel arcu porta, varius ligula eget, posuere diam. Praesent turpis justo, facilisis vitae diam sit amet, placerat rhoncus neque. Sed rhoncus ac libero eu blandit. 
figure.preview.fl-l
	a.lightbox-images(href="images/2250x1500.png"): img(src="images/2250x1500.png" alt="")
	figcaption <strong>Figure #1:</strong> A leading provider of consulting services.
p Sed porta tincidunt turpis, sed auctor ex vehicula a. Proin cursus, odio ut laoreet fringilla, urna sem mattis turpis, ut sagittis lectus enim vel augue. Curabitur commodo hendrerit justo, sit amet commodo felis. Aenean ac tempus risus. Proin et ex efficitur, euismod justo id, semper arcu. Vestibulum ut magna ac nisl molestie tincidunt non et arcu. Morbi hendrerit augue euismod lacus efficitur, sit amet lobortis lectus rhoncus. Sed faucibus urna id faucibus tristique. Aenean rutrum quam eu orci varius, ac blandit nibh posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ornare ipsum eget tortor pharetra venenatis. Pellentesque vestibulum turpis sit amet neque tristique, vitae tempus nisl pharetra. Sed ut diam vitae ligula pretium pellentesque at ut augue. Nunc at libero quis sem ornare consequat. 
figure.preview.fl-r
	a.lightbox-images(href="images/2250x1500.png"): img(src="images/2250x1500.png" alt="")
	figcaption <strong>Figure #2:</strong> We focus on passion and leadership.
p Nulla nisl odio, ullamcorper eu placerat nec, bibendum id risus. Nulla vitae dui lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim lorem quam, et condimentum purus tincidunt eget. Nam commodo purus non turpis vestibulum accumsan. In ac rhoncus lectus, vel imperdiet orci. Sed consectetur lectus convallis purus dictum, eu egestas velit fermentum. Cras varius vehicula quam a malesuada.
p Aliquam erat volutpat. Maecenas eu interdum justo. Cras sagittis, est et malesuada tristique, erat magna eleifend lacus, eget viverra justo mi ac arcu. Integer sit amet nisi eleifend, pretium tortor non, mollis felis. Aenean ullamcorper neque eget imperdiet egestas. Donec et diam faucibus, imperdiet dolor at, tincidunt enim. Aenean fringilla odio ut congue sagittis. Donec eu nisl nec erat ullamcorper vulputate a sed diam. Maecenas vehicula commodo urna tempus gravida. Vivamus lacinia dictum elit, at luctus sem consequat interdum. Mauris sagittis euismod lacus sed aliquam. Phasellus est sapien, ultricies non bibendum et, pellentesque non est. Donec mauris ante, iaculis et accumsan eget, pulvinar vel nibh. 
h3 The best advice you coud ever get about consulting services
p Etiam convallis tortor ut urna luctus maximus. Sed vestibulum consequat massa, a ultrices libero molestie vel. Sed lacinia dolor laoreet lorem venenatis, a fringilla lacus sagittis. Sed commodo volutpat erat cursus blandit. Suspendisse non nibh nec risus tempor fringilla. Morbi lacinia scelerisque faucibus. Mauris commodo ligula justo, vitae malesuada tortor vestibulum sed. Nunc malesuada ullamcorper enim, sed volutpat eros molestie non. Aliquam imperdiet, lorem vel lacinia pretium, turpis sem viverra odio, id sollicitudin risus nibh id nisl. Fusce dignissim aliquet fringilla. Nunc id urna id metus pellentesque dictum eget pellentesque ipsum. Vestibulum in urna eu urna consectetur mattis. 
blockquote
	p " Do the difficult things while they are easy and do the great things while they are small. A jorney of a thousand miles begin with a single step. "
	footer Lao Tzu
p Nullam tincidunt sapien quis libero tincidunt volutpat. Cras sit amet lacus quis purus mattis egestas. Nulla et lectus hendrerit, condimentum est vel, iaculis dolor. Pellentesque est velit, lacinia ut euismod eget, viverra sed mi. Donec sed ultrices massa. Donec ac tellus tincidunt, fermentum nibh nec, aliquam urna. Donec dignissim nec velit id consectetur. Aenean blandit at sapien at tempor. Sed egestas convallis gravida. Mauris interdum tellus a varius sollicitudin. Donec vestibulum tortor libero, at maximus dolor condimentum quis. Vestibulum rhoncus, ligula id tristique gravida, mauris tortor aliquet quam, non sagittis dui sem vitae turpis. Suspendisse non molestie erat, eget congue orci. Nullam eget pretium nunc. 
h3 ballance sheet
p Nulla condimentum commodo leo, non blandit lacus suscipit mattis. Praesent in iaculis leo, et ullamcorper libero. Vivamus nec lorem sagittis tellus feugiat congue id eget libero. Fusce non leo ante. Nulla ut massa nec risus venenatis varius. Maecenas sed pretium mi. Proin ut mauris nibh. Proin vulputate convallis tempus. Nunc eu rhoncus est. Fusce pulvinar malesuada orci, ac convallis ligula facilisis pellentesque. Aliquam non nisi sed risus mollis pharetra quis nec nunc. Ut lorem ex, viverra non blandit vitae, imperdiet consectetur mauris. Duis risus nisl, varius eget nulla et, consectetur congue ex. Praesent eleifend enim sed ligula eleifend sagittis. 
.row
	.col-md-6
		ul.ul-check
			li Company long term planning;
			li Pricing and P&L analysis;
			li Products of services offering;
			li Logistic and customer support structure review;
			li Market position and company perception review;
			li Market segment developments and reviews.
	.col-md-6
		ul.ul-check
			li International department structure;
			li Responsibilities, skills and experience;
			li Staffing reviews;
			li Internal changes for global trade;
			li Involving existing remote stuff and distributors.
p Suspendisse aliquam lacinia augue vel facilisis. Donec volutpat ante vel ipsum scelerisque, nec ornare tellus laoreet. Vivamus vitae finibus metus. Nulla condimentum, ex in rhoncus interdum, purus dui malesuada mi, ac tincidunt elit urna a purus. Aliquam sit amet feugiat orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec felis erat, molestie ac maximus ac, eleifend nec elit. 