//- includes/scripts.jade

<!-- build:js js/framework.js -->
//- script(type="text/javascript" src="js/jquery.rivathemes.tabs.js")
//- script(type="text/javascript" src="js/jquery.rivathemes.mega.js")

script(type="text/javascript" src="js/jquery.rivathemes.accordion.js")
//- script(type="text/javascript" src="js/jquery.rivathemes.slider.js")
//- script(type="text/javascript" src="js/jquery.rivathemes.imagecarousel.js")
script(type="text/javascript" src="js/jquery.rivathemes.countdown.js")
<!-- endbuild -->

script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpVQEdCmd9aY_-N6920-wilfScyBwS-Lw&callback=initMap")
script(src="js/template.js")
