//- includes/sidebar.jade

.sidebar
	.widget.widget-categories
		h4.widget-title categories
		.widget-content
			ul
				li: a(href="#") Corporate Finance
				li: a(href="#") Information Management
				li: a(href="#") Operations Management
				li: a(href="#") Strategy & Optimisations
				li: a(href="#") Risk Management
				li: a(href="#") Technologies & Innovations
	.widget.widget-pages
		h4.widget-title content pages
		.widget-content
			ul
				li: a(href="#") About The Company
				li: a(href="#") Our Services
				li: a(href="#") Frequently Asked Questions
				li: a(href="#") Contact Information
	.widget.widget-recent-posts
		h4.widget-title recent posts
		.widget-content
			.post.preview
				figure.post-thumbnail
					.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
					img(src="images/2250x1500.png" alt="")
				.post-content
					p.post-title: a(href="#") Five great lessons you can learn from Walton Consulting
			.post.preview
				figure.post-thumbnail
					.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
					img(src="images/2250x1500.png" alt="")
				.post-content
					p.post-title: a(href="#") Why is Walton Consulting the most trending thing now?
			.post.preview
				figure.post-thumbnail
					.hover: a.lightbox-images(href="images/2250x1500.png"): span.wicon-iconmonstr-zoom-in-thin
					img(src="images/2250x1500.png" alt="")
				.post-content
					p.post-title: a(href="#") How Walton Consulting is going to change your business strategies
	.widget.widget-content-tags
		h4.widget-title content tags
		.widget-content
			a(href="#") automotive
			a(href="#") chemicals 
			a(href="#") energy 
			a(href="#") utilities
			a(href="#") healthcare
			a(href="#") manufacturing
			a(href="#") technology
			a(href="#") telecommunications
			a(href="#") innovations
	.widget.palette-2-bg
		h4.widget-title simple text widget
		.widget-content
			p Nulla suscipit quam ac sem sagittis, non porttitor justo accumsan. Pellentesque vitae pulvinar turpis, ut ullamcorper tellus.
			p: a.btn.btn-1(href="#") get in touch
	.widget.image-bg.image-bg-7
		h4.widget-title we are hire
		.widget-content
			p Fusce finibus metus in dolor pharetra, sed efficitur libero pulvinar. Ut ac nunc mi. Donec ut ligula lorem. Phasellus lacinia pulvinar volutpat.
			p: a.btn.btn-1(href="#") join our team
